@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&family=Smooch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;




:root {
  background-color: white;
  cursor: url('src/assets/pointer.png'), auto;
}
a {
  cursor: url('src/assets/link.png'), pointer;
}
button {
  cursor: url('src/assets/link.png'), pointerz;
}

* {
  scroll-behavior: smooth;
}

.navbar{
  color: #000;
  font-family: Outfit;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.title{
  font-family: Outfit;
  font-weight: 800;
}

.sub{
  color: #383838;
  font-family: Outfit;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.para{
  color: #000;
  font-family: Outfit;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
